.Display {
    overflow: scroll;
    height: 80vh;
    margin: 10px;
    padding: 10px;
}
.Post {
    text-align: left;
    margin: 20px 0px;
}
.Post h3 {
    margin: 5px 0px;
}
.Post p {
    margin: 0px;
}