.Content {
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}
.Display {
    overflow-y: scroll;
    height: 60vh;
    margin-top: 20px;
    padding: 20px;
    border: 2px groove black;
    border-radius: 4px;
    text-align: left;
}
.Display h1 {
    margin: 5px 0px;
}
.Place {
    border: 2px groove black;
    border-radius: 4px;
}
.Place * {
    margin: 5px;
}
