.Content {
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}
.Display {
    overflow-y: scroll;
    height: 60vh;
    margin-top: 20px;
    padding: 10px;
    border: 2px groove black;
    border-radius: 4px;
    text-align: left;
}
.Display > * {
    margin-bottom: 20px;
}
.University * {
    margin: 5px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #efefef;   
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
    border-radius: 3px;
}